# Node.js и npm
node_modules/
npm-debug.log
yarn-error.log

# Next.js
/.next/

# Express.js
/build/
/dist/

# Локальные настройки
.env.local
.env.development
.env.production

# Файлы конфигурации
.eslintcache
.prettierignore
.prettiercache

# Кэш
.cache/
.next/
out/

# Прочие временные и автоматически создаваемые файлы
*.log
*.swp
.DS_Store
